<% layout('/layouts/boilerplates.ejs')%>

<div class="row">

    <h1 class="text-center">New Complex</h1>
    <div class="col-6 offset-3">

    
        <form action="/campgrounds" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">NAME</label>
                <input class="form-control" type="text" id="name" name="campground[name]" required>
                <div class="valid-feedback">
                    looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">LOCATION</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    looks Good!
                </div>
            </div>
<div >
    <label class="form-label" for="price">Parking-Price:</label>
</div>
            <div class="input-group mb-3">
               
                <span class="input-group-text" id="basic-addon1">Rs.</span>
                <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby="basic-addon1" name="campground[price]" required>
                <div class="valid-feedback">
                    looks Good!
                </div>
              </div>

        <!--      <div class="mb-3">
                <label class="form-label" for="image">IMAGE URL</label>
                <input id="image" type="text" class="form-control" name="campground[image]" required>
                <div class="valid-feedback">
                    looks Good!
                </div>
            </div> -->

            <div class="input-group mb-3">
                <label class="input-group-text text-muted" for="inputGroupFile01">Select Image:</label>
                <input type="file" class="form-control" id="inputGroupFile01" name="image" multiple>
              </div>

         

            <div class="mb-3">
                <label class="form-label" for="description">DESCRIPTION</label>
                <textarea  id="description" class="form-control" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    looks Good!
                </div>

            </div>
       
            <button class="btn btn-success">Add Complex</button>
        </form>

        <a href="/campgrounds"> All Shopping-Complex</a>
    </div>


</div>




